ran command to generate a new secret key for the .env file:
python -c "import secrets; print(secrets.token_hex(32))"
SECRET_KEY=your-secret-key-here
DATABASE_URL=sqlite:///./thai_digit.db -- local database
MODEL_PATH=../ml/models/thai_number_model.keras
